/* conductores.css */
body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 80px; /* Ajustar el padding para más espacio alrededor del contenido */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar contenido dentro del contenedor */
    width: 100%; /* Ajustar el ancho del contenedor al 100% para ocupar todo el espacio disponible */
    max-width: 1180px; /* Ajustar el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

h1 {
    color: #6d7fcc;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    color: #101111;
    font-size: 18px;
    margin-bottom: 20px; /* Ajuste del margen inferior */
}

table {
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    width: 50%; /* Reducir el ancho de la tabla al 50% */
}

th, td {
    padding: 5px; /* Reducir el padding para que los datos se ajusten mejor */
    text-align: center;
    font-size: 12px; /* Reducir el tamaño de la fuente */
}

th {
    background-color: #7386D5;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total-registros {
    color: #101111;
    font-size: 18px;
    margin-top: 20px;
}

