/* propietarios.css */

body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 80px; /* Ajuste del padding más largo y ancho */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar contenido dentro del contenedor */
    max-width: 900px; /* Limitar el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

h1 {
    color: #6d7fcc;
    font-size: 30px;
    margin-bottom: 20px; /* Ajuste del margen inferior */
    font-weight: bold; /* Texto de "Propietarios" en negritas */
}

p {
    color: #101111;
    font-size: 18px;
    margin-bottom: 20px; /* Ajuste del margen inferior */
    line-height: 1.5; /* Altura de línea aumentada para mejor legibilidad */
}

table {
    margin-left: auto; /* Alinea la tabla a la derecha */
    margin-right: auto; /* Alinea la tabla a la izquierda */
    border-collapse: collapse;
    width: 70%; /* Ancho de la tabla ajustado */
}

th, td {
    padding: 10px; /* Ajuste del padding */
    text-align: center;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

th {
    background-color: #7386D5;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total-registros {
    color: #101111;
    font-size: 18px;
    margin-top: 20px;
}